@charset "ISO-8859-1";

body{
background-image:url("background1.jpg");
background-size:cover;
background-position: center;
background-repeat: no-repeat;
height: 100%;

}

.card {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color:White;
  Background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  transform: translate(-10%, -3%);
  border-style: solid;
  border-color: coral;
}

.title {
  color: White;
  font-size: 18px;
}


button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border-style: solid;
  border-color: white;
}

button:hover, a:hover {
  opacity: 0.7;
  background-color:green;
}


.btn1 {
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  border-style: solid;
  border-color: white;
  width: 90%;
}

.btn1:hover, a:hover {
  opacity: 0.7;
  background-color:red;
}

h1{
font-family: "Times New Roman", Times, serif;
color: White;
}

h2{
font-family: "Times New Roman", Times, serif;
color: White;
text-align:center;
font-size: 40px;
border: 2px solid #ccc;
opacity: 0.7;
background-color: black;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 15px;
  resize: none;
}
